/* game board table */

body {
    background-color: skyblue;
}

.container {
    display: flex;
    width: 520px;
    height: 458px;
    margin: 0 auto;
    padding: 5px;
    background: white;
    border: solid;
    border-color: black;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: black;
}

.center {
    position: relative;
}

#rst-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    display: block;
    font-size: 16px;
    /* margin: 4px 2px; */
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

#board td {
    width: 70px;
    height: 70px;
    border: solid 1px gray;
    border-radius: 5px;
}

.player1:hover {
    background-color: rgba(255, 0, 0, 0.315);
}

.player2:hover {
    background-color: rgba(32, 32, 197, 0.336);
}


/* pieces are div within game table cells: draw as colored circles */

.piece {
    /* TODO: make into circles */
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    animation-name: fall-animation;
    animation-duration: 500ms;
}

@keyframes fall-animation {
    from {
        transform: translateY(-450px);
        /* following is test to receive value from js 
        transform: translateY(var(--yCoOrdinate));
        */
    }
    to {
        transform: translateY(0);
    }
}


/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.piece.p1 {
    background-color: red;
}

.piece.p2 {
    background-color: blue;
}